.basket-page {
  width: 100%;
  min-width: 360px;
  max-width: 428px;
  height: 926px;
  margin: 0;
  padding: 0;

  background-color: #f6f6f6;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  padding-bottom: 118px;
}

.basket-page__header {
  display: flex;
  margin-top: 53.5px;
  margin-left: 42px;
  width: 81%;
  height: 49px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.basket-page__table-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  width: 145px;
  height: 48px;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 4px 20px 0px #0000000d;
}

.basket-page__products{
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 0 41px;
  justify-content: center;
}

.orderButtonWrapper {
  position: absolute;
  bottom: 54px;
}
