.container {
  width: 100%;
  min-width: 360px;
  max-width: 428px;
  height: 926px;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  border-radius: 40px;
}

.title {
  text-align: center;
  font-family: "Inder";
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  gap: 20px;
  padding: 0 28px;
  justify-content: center;
}

.SearchBarContainer {
  display: flex;
  justify-content: center;
}
