.product-card {
  height: 198px;
  max-width: 176px;
  margin-bottom: 11px;
  gap: 12px;
  background: white;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.product-card__image-placeholder {
  width: 99%;
  height: 155px;
  border: 50px;
  background-color: #e5e7eb;
  border-radius: 16px;
}

.product-card__name {
  font-size: 11px;
  font-weight: 400;
}

.product-card__footer {
  width: 98%;
  display: flex;
  height: 29.35px;
  justify-content: space-between;
  align-items: center;
}

.product-card__controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-card__button {
  width: 31px;
  height: 31px;
  background: #364c84;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-card__count {
  font-size: 16px;
  font-weight: 400;
}

.product-card__counter {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding-left: 4.5px;
}

.product-card__button--dark {
  width: 20px;
  height: 20px;
  background: white;
}

/* Делаем число белым, если активный счётчик */
.product-card__controls--active .product-card__count {
  color: white;
  height: 20px;
  width: 16px;
}

/* Когда активен счётчик — кнопки становятся белыми */
.product-card__controls--active .product-card__button {
  background: white;
}

/* Когда есть хотя бы 1 товар — подложка становится фиолетовой */
.product-card__controls--active {
  background: #364c84;
  height: 29px;
  width: 71px;
  border-radius: 22.58px;
}
