.products-in-basket__card {
  max-width: 346px;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

.products-in-basket__image-placeholder {
  margin-left: 8.5px;
  width: 84px;
  height: 80px;
  background-color: #e5e7eb;
  border-radius: 10px;
  flex-shrink: 0;
}

.products-in-basket__footer {
  display: flex;
  width: 229.5px;
  justify-content: space-between;
  gap: 16px;
  margin-right: 8.5px;
}

.products-in-basket__name {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.products-in-basket__description {
  font-size: 14px;
  color: #6b7280;
}

.products-in-basket__controls {
  display: flex;
  align-items: center;
  background: #364c84;
  border-radius: 22px;
  padding: 4px 8px;
  gap: 4px;
}

.products-in-basket__button {
  width: 26px;
  height: 26px;
  background: white;
  color: #364c84;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.products-in-basket__count {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.products-in-basket__empty-cart {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
