
 :root {
  font-family: "Inder";
  font-weight: 400;
  font-style: normal;

  width: 428px;
  height: 926px;

  color:#000000;
  background-color: white;
  ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Inder", sans-serif;
}

